<p>add-equation works!</p>
<div>
    <div class="submit-form">
        <div *ngIf="!submitted">
            <div class="form-group">
                <label for="expression">Expression</label>
                <input type="text" class="form-control" id="expression" required [(ngModel)]="equation.expression"
                    name="expression" />
            </div>
            <button (click)="saveEquation()" class="btn btn-success">Submit</button>
        </div>
        <div *ngIf="submitted">
            <h4>Equation was submitted successfully!</h4>
            <button class="btn btn-success" (click)="newEquation()">Add</button>
        </div>
    </div>
</div>