<div *ngIf="viewMode; else editable">
    <div *ngIf="currentEquation._id">
        <h4>
            Equation
        </h4>
        <div>
            <label>
                <strong>
                    Expression:
                </strong>
            </label>
            {{ currentEquation.expression }}
        </div>
        <div>
            <label>
                <strong>
                    Variables:
                </strong>
            </label>

            <div class="form-group">
                <div *ngFor="let variable of variables.symbols; let i = index">
                    <label [for]="variable">
                        {{variable}}
                    </label>
                    <input type="number" class="form-control" [id]="variable" [(ngModel)]="variables.values[i]"
                        [name]="variable" required/>
                </div>
            </div>
        </div>
        <a class="badge badge-danger" (click)="evaluateEquation()">
            Calculate
        </a>
        <a class="badge badge-warning" routerLink="/equations/{{ currentEquation._id }}">
            Edit
        </a>
    </div>
    <div *ngIf="!currentEquation">
        <br />
        <p>
            Please click on a Equation...
        </p>
    </div>
</div>
<ng-template #editable>
    <div *ngIf="currentEquation._id" class="edit-form">
        <h4>Equation</h4>
        <form>
            <div class="form-group">
                <label for="expression">
                    Expression
                </label>
                <input type="text" class="form-control" id="expression" [(ngModel)]="currentEquation.expression"
                    name="expression" />
            </div>
        </form>
        <button class="badge badge-danger mr-2" (click)="deleteEquation()">
            Delete
        </button>
        <button type="submit" class="badge badge-success mb-2" (click)="updateEquation()">
            Update
        </button>
        <p>
            {{ message }}
        </p>
    </div>
    <div *ngIf="!currentEquation._id">
        <br />
        <p>
            Cannot access this Equation...
        </p>
    </div>
</ng-template>